.sign-up-form{
	height: 800px;
	width: 100%;
	background: url("fruits.jpg") no-repeat right center fixed;
}
.form{
	position: fixed;
	height: 200px;
	width: 300px;
	right: 250px;
	right: 15%;
	top: 15%;
}
#button{
	width: 10px;
	height: 8px;
}